.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 5px 12px #f0f0f04f;
  max-width: 50vw;
  width: 25vw;
  height: auto;
  aspect-ratio: 1/1;
}

.project:hover {
  background-size: 105%;
  animation: fade 1s;
}

.project h3 {
  color: #f0f0f0;
  background-color: transparent;
}

.project p {
  color: #f0f0f0;
  background-color: transparent;
}

.project a {
  color: #f0f0f0;
  background-color: #9d80cb3b;
  padding: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}

.project a:hover {
  color: #0f0f0f;
  background-color: #f0f0f0;
}

.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: transparent;
}

.technology {
  width: 25px;
  height: 25px;
  padding: 0.5rem;
  color: #f0f0f0;
  background-color: transparent;
}

.technology:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .project {
    max-width: 50vw;
  }
  .technology {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .project {
    max-width: 80vw;
    aspect-ratio: 2/3;
  }
  .technology {
    width: 15px;
    height: 15px;
  }

  .project a {
    border-radius: 5px;
    font-size: small;
  }
}
