.projects {
  display: flex;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50vw;
}

@media (max-width: 480px) {
  .projects {
    max-width: 80vw;
  }
}
