.subtitle {
  color: #f0f0f0c4;
  font-size: 11px;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 9px;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}

.subtitleContainer {
  max-width: 50vw;
  overflow: auto;
}

@media (max-width: 768px) {
  .subtitleContainer {
    max-width: 50vw;
  }
}

@media (max-width: 480px) {
  .subtitleContainer {
    max-width: 60vw;
  }
}
