.subtitle {
  color: #f0f0f0c4;
  font-size: 12;
}

.subtitleContainer {
  max-width: 50vw;
  /* overflow: auto; */
}

@media (max-width: 768px) {
  .subtitleContainer {
    max-width: 50vw;
  }
  .subtitle {
    font-size: 11px;
  }
}
@media (max-width: 480px) {
  .subtitle {
    font-size: 10px;
  }
  .subtitleContainer {
    max-width: 60vw;
  }
}
