.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.1rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  /* background-color: #0f0f0f; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #f0f0f0;
  transition: all 0.5s;
  /* background-image: linear-gradient(0deg, #202325 50%, transparent 50%); */
  aspect-ratio: 1;
}
.technology:hover {
  /* background-position: -100%; */
  /* background-color: #202325; */
  scale: 1.1;
  rotate: 5deg;
  box-shadow: 0 5px 12px #f0f0f04f;
}

.icon {
  font-size: 1.5rem;
  background-color: transparent;
}

@media (max-width: 480px) {
  .technology {
    font-size: 17px;
    margin: 0.25rem;
    padding: 0.05rem;
  }
}
