@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;

  scrollbar-width: thin;
  scrollbar-gutter: 0.5rem;
  scrollbar-color: #f0f0f0 #0f0f0f;
}

body {
  background-color: #0f0f0f;
  color: #f0f0f0;
  margin: 0 !important;
  margin-top: 30px !important;
}
