/* center all items */

.main {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}
