.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 1rem; */
  padding: 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 5px 12px #f0f0f04f;
  max-width: 50vw;
  width: 50vw;
  height: 50vh;
  /*  */
  background-size: 55%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #9d80cb3b;
  backdrop-filter: blur(10px);

  transition: all 1s;
}

@media (max-width: 768px) {
  .project {
    max-width: 70vw;
    width: 70vw;
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .project:hover {
    background-size: 105%;

    background-position: bottom;
    background-repeat: no-repeat;

    animation: fade 1s;
  }
}

.project:hover {
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  animation: fade 1s;
}

.project h3 {
  color: #f0f0f0;
  background-color: transparent;
  margin: 1rem -1rem 1rem -1rem;
}

.project p {
  color: #f0f0f0;
  background-color: transparent;
}

.project a {
  color: #f0f0f0;
  background-color: #9d80cb3b;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.5s;
}

.project a:hover {
  color: #0f0f0f;
  background-color: #f0f0f0;
}

.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: transparent;
}

.technology {
  width: 25px;
  height: 25px;
  margin: 0.5rem;
  padding: 0.5rem;
  color: #f0f0f0;
  transition: all 0.5s;
  background-color: transparent;
}

.technology:hover {
  color: #0f0f0f;
  cursor: pointer;
  margin: 1rem;
}
